.addPetParent {
  /* background-color: red; */
  /* background: linear-gradient(#4b321a, #4b321a); */
  background-color: #f3e2cd;

  padding-top: 7rem;
  padding-bottom: 1rem;
  min-height: 100vh;
}

.addPetChild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 90%;
  padding-block: 5.5rem;
  border-radius: 10px;
  /* padding-inline: 13rem; */
}

.petFormInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  /* width: 50%; */
  /* max-width: 50%; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.petFormInfo > * {
  width: 50%;
  max-width: 50%;
  align-self: center;
  /* margin: auto; */
  /* margin-left: 1rem; */
}

.petFormInfo > input {
  height: 2rem;
  padding-left: 1rem;
  width: 90%;
  max-width: 90%;
}

.petFormInfo > label {
  align-self: start;
  margin-left: 3rem;
  color: #53351f;
  /* font-weight: 900; */
}

.petFileImage {
  padding-inline: 0;
  margin-inline: 0;

  cursor: pointer;
}

.petFormSubmit {
  padding: 1rem 0;
  align-self: center;
  background-color: transparent;
  border-radius: 10px;
  color: #53351f;
  /* font-weight: 900; */
}

.petFormSubmit:hover {
  background-color: #805b38;
  border-color: #805b38;
  color: white;
  transition: all 1s ease;
  cursor: pointer;
}

.selectPet {
  height: 3rem;
  text-align: center;
  width: 90%;
  max-width: 90%;
  cursor: pointer;
}

.errorExists {
  /* width: 15rem; */
  max-width: 15rem;
  text-align: center;
  color: rgb(196, 41, 41);
  font-weight: 900;
  transition: all 1s ease;
}

.pfsDisabled {
  font-weight: 900;
}

.pfsDisabled:hover {
  background-color: none;
}

@media (max-width: 500px) {
  .petFormInfo > label {
    margin-left: 1rem;
  }

  .addPetChild {
    padding-block: 3rem;
  }
}
