.currPetParent {
  /* display: flex; */

  /* justify-content: center; */
  /* align-items: center; */
  padding-inline: 1rem;
  padding-bottom: 3rem;
  background: linear-gradient(#60452b, #f5f5dc);
  /* background-color: black; */
  /* background: radial-gradient(
    rgb(170, 190, 197),
    rgb(192, 199, 202),
    rgb(172, 180, 182),
    rgb(209, 210, 212)
  ); */
  min-height: 100dvh;
  padding-top: 5rem;

  /* z-index: -10000; */
  /* max-width: 30rem; */

  /* margin-top: 25vh; */
}

#currPetChild {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
}

.currPetParent > div {
  animation: slideUp 1s linear;

  background-color: #fdfbf9;

  /* background-color: white; */
  /* box-shadow: 20px 20px 100px #60452b inset; */
  /* border: 5px solid black; */
  border-radius: 10px;
  /* z-index: 10000; */
  /* max-width: 1000px; */
  min-height: 60vh;
  width: 50%;
  max-width: 50%;

  box-shadow: 0 0 100px #fdfbf9;

  /* padding-block: 5rem; */
  margin: 5rem;
  /* padding-inline: 1rem; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.currPetParent > div:hover {
  transform: scale(1.05) translateY(-10px);
  transition: all 1s ease-in-out;
}

.petInfo {
  margin: auto;
  padding-inline: 5rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-block: 3rem; */
}

.petInfo > * {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1rem;
  font-size: 2rem;
  /* font-weight: 900; */
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  /* font-weight: 900; */
  text-align: start;
}

.petImg {
  /* border-radius: 10px; */
  /* border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; */
  /* border-left-radius: 6%; */
  /* border: 1px solid black; */
  border-right: none;
  /* z-index: -100; */
  max-width: 100%;
  width: 100%;
  /* height: 100%; */
  max-height: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.babysitBtn1 {
  padding: 1rem;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.babysitBtn1:hover {
  background-color: #60452b;

  font-size: 1.1rem;
  /* border-color: rgb(190, 190, 190); */
  color: white;
  font-weight: 900;
  transform: translateY(-15%);
  transition:
    background-color 1s ease,
    transform 1s ease;
}

/* @media (max-width: 870px) {
  .currPetParent > div {
    flex-direction: column;
  }
  .petImg {
    border-radius: 8%;
    max-width: 100%;
  }

  .petInfo > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 900;
  }
} */

#dialog {
  margin: auto;
  padding: 3rem 5rem;
  border-radius: 24px;
  border: none;
  max-width: 500px;
  width: 90%;
}

#dialog > div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#dialog > div > * {
  font-size: 1.5rem;
  /* display: flex; */
  /* align-items: center; */
  /* margin-bottom: 3rem; */
  /* text-align: c; */
  /* max-width: 300px; */
  /* padding: 0 25rem; */
}

#dialog > div > p {
  align-self: end;
}

#dialog > div > h3 {
  align-self: center;
  text-align: center;
}

#dialog > div > div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
}

#dialog > div > div > * {
  padding: 1rem 3rem;
  /* font-size: 1.5rem; */
  border-radius: 10%;
  margin: auto;
  /* align-self: center; */
  /* max-width: 100px; */
}

#xBtn {
  color: rgb(185, 9, 9);
  font-weight: 900;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: end;
}

#yesBtn {
  background: radial-gradient(
    rgb(13, 116, 13),
    rgb(26, 92, 26),
    rgb(29, 98, 29)
  );

  color: rgb(224, 224, 224);
  font-weight: 900;
  cursor: pointer;
}

#noBtn {
  background: radial-gradient(
    rgb(155, 14, 14),
    rgb(182, 61, 24),
    rgb(194, 29, 29)
  );
  color: rgb(224, 224, 224);
  font-weight: 900;
  cursor: pointer;
}

.yesBtn:hover,
.noBtn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

@media (max-width: 800px) {
  .currPetParent {
    width: 100%;
  }

  .currPetParent > div {
    flex-direction: column;
  }
  #currPetChild {
    margin: 10vh auto;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .petInfo {
    padding-block: 3rem;
    /* padding: 1rem 0; */
    /* width: 100%; */
  }

  .babysitBtn1 {
    width: 100%;
    max-width: 100%;
  }

  .petImg {
    max-width: 100%;
    width: 100%;
    height: 20rem;
  }
}

.petName {
  font-size: 2rem;
  font-weight: 900;
}
