.secondFooter {
  /* background: radial-gradient(rgb(204, 204, 204), rgb(207, 206, 206), rgb(212, 212, 212)); */
  /* background: radial-gradient(
    rgb(170, 190, 197),
    rgb(192, 199, 202),
    rgb(172, 180, 182),
    rgb(209, 210, 212)
  ); */
  background: radial-gradient(
    rgb(222, 224, 225),
    rgb(192, 192, 192),
    rgb(180, 180, 180),
    rgb(161, 165, 168)
  );
  padding: 1rem;
  text-align: center;
}
