@keyframes appear {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear1 {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.homeParent {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* padding: 15rem; */
  /* padding-block: 15rem; */
  /* gap: 3rem; */
  /* min-height: 100vh; */
  /* background: url("/public/puppy.jpg"); */
  background-color: rgba(gray, rgb(151, 152, 151), rgb(144, 144, 144), 0.2);

  background: url("/public/dogTan.jpg"), rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  /* padding-block: 5rem; */
  min-height: 100vh;
  /* min-width: 100%; */
  /* max-width: 100%; */
  filter: drop-shadow(10px 10px 50px #56371b);
  /* max-width: 100vw; */

  /* min-height: 100vh; */
  /* background: radial-gradient(
    rgb(170, 190, 197),
    rgb(192, 199, 202),
    rgb(172, 180, 182),
    rgb(209, 210, 212)
  ); */
  flex-wrap: wrap;
  /* background: radial-gradient(rgb(204, 204, 204), rgb(207, 206, 206), rgb(212, 212, 212)); */
  /* transform: skewY(45deg); */
}

.homeParent::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 1;
}
.homeParent > * {
  position: relative;

  z-index: 2;
}

#homeChild {
  padding-block: 15rem;
}

.homeFirstChild {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 10vh auto;
}

.homeFirstChild > p,
.homeFirstChild > h1 {
  transform: translateX(-50%);
  animation-name: appear1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: 3rem;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  text-align: center;
  /* font-size: 1.1rem; */
  /* font-style: italic; */
  /* text-transform: uppercase; */
  font-weight: 500;
  background: radial-gradient(
    rgb(246, 246, 246),
    rgb(236, 236, 236),
    rgb(239, 233, 233)
  );

  margin: 0;
  padding: 0;
  /* padding-block: 15rem; */
  /* margin-top: 50vh; */
  /* background: linear-gradient(-135deg, #4f46e5, #4f00d7, #1b3d43); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 13px 10px rgb(82, 79, 79);
}

.WelcomePetCareHeading {
  text-transform: capitalize;
  font-size: 3rem;
}

.homeSecondChild > div {
  opacity: 0;
  transform: translateX(-50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10%;
  animation-delay: 1s;
  animation-name: appear1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.homeSecondChild > div > * {
  border-radius: 10%;
}

#petsBtnHome {
  opacity: 0;
  transform: translateX(50%);
  /* animation-delay: 1s; */
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  margin-top: 1.5rem;
  width: fit-content;
  max-width: fit-content;
}

#petsBtnHome > * {
  background-color: black;
  color: white;
  align-self: center;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

#petsBtnHome > *:hover {
  background-color: #60452b;
  border-color: #60452b;
  transform: scale(1.1);
  transition: all 1s ease;
}

@media (max-width: 600px) {
  .homeSecondChild {
    grid-template-columns: 1fr;
  }
}
