.animalNavbar {
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
  /* color: white; */
  /* background: linear-gradient(135deg, #f5efe6 0%, #efe7da 100%); */
  /* background: radial-gradient(rgb(255, 249, 249), rgb(227, 169, 169), rgb(11, 11, 11)); */
}

.animalNavbar * {
  color: white;
}

.animalNavbar > ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.animalNavbar > ul > a {
  padding-inline: 1rem;
  margin: 0.5rem 0.3rem;
  /* padding-block: 0.5rem; */
  text-decoration: none;
  color: black;
}

.btnAuth {
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.btnAuthLogout {
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  padding: 1rem 1rem;
  cursor: pointer;
}

.animalNavbar > ul > a > li {
  padding: 0.3rem;
}

.firstChildNavbar {
  /* margin: 0; */
  align-self: center;
}

.firstChildNavbar > * {
  /* margin-top: 0.7rem; */
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

/* SIDEBAR */

/* .navbarHeader {
  position: fixed;
  z-index: 99999;
} */

#sidebar {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
  /* align-items: center; */
}

#sidebar > ul {
  list-style-type: none;
}

#sidebar > ul > * > li {
  color: white;
}

@media (max-width: 570px) {
  .animalNavbar > ul {
    flex-direction: column;
  }
}
