.signupContainer {
  /* background: url("/public/dogCatBg.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: cover; */
  background: linear-gradient(
    rgb(223, 222, 222),
    rgb(231, 231, 231),
    rgb(240, 240, 240)
  );
  /* background: linear-gradient(#4b321a, #4b321a); */
  min-height: 100vh;
  padding-bottom: 3rem;
}

.welcomeBack {
  padding: 0;
  margin: 0;
  margin-top: 5vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* font-size: 2rem; */
  font-weight: 900;
  /* font-family: monospace; */
  /* background: radial-gradient(
    circle,
    rgb(60, 58, 58) 0%,
    rgb(53, 53, 53) 10%,
    rgb(56, 56, 56) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* color: #1f1f1f; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: end; */
  /* margin-top: 3rem; */
}

.welcomeBack > * {
  margin-bottom: 0.5rem;
}

.wb1 {
  font-size: 2rem;
  color: #1f1f1f;
}

.wb2 {
  font-size: 1rem;
  color: #4f5665;
}

#disabledAuthBtn {
  opacity: 0.5;
  /* background-color: #d7d5d5; */
}

.backBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn > * {
  color: #1f1f1f;
}

.backBtn:hover:after {
  content: "Back";
  font-size: 1.5rem;
  opacity: 1;
  transition: all 1s ease;
}

.signupArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  /* margin-top: 3rem; */
}

.signupContainer > .signupArticle > div {
  font-size: 1rem;
  /* background: url("/public/pawBg.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background: linear-gradient(#f5f1ec, #f8f5f2, #faf7f4);
  /* background: linear-gradient(#805b38, #f0f0f0); */
  padding: 0 5rem;
  border-radius: 10px;
  border: 1px solid rgb(165, 165, 165);
  /* margin-bottom: 1rem; */
  /* border-color: #020202; */

  /* box-shadow:
    10px 10px 30px rgb(169, 169, 169) inset,
    -30px 10px 30px rgb(193, 193, 193) inset; */
  /* background-color: aqua; */
}

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* max-width: 1000px; */
  margin: 5vh auto;
  gap: 2rem;
  /* margin-top: 50vh; */
}

.signupForm > label {
  align-self: start;
  color: #1f1f1f;

  /* color: black; */
  font-weight: 900;
}
.signupForm > input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.signupForm > input {
  outline: 3px solid white;
}

.signupForm > input:focus {
  outline: 1px solid black;
}

.signupForm > button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
  /* background: radial-gradient(rgb(104, 104, 104), rgb(178, 178, 178), rgb(236, 236, 236)); */
  /* border-radius: 10%; */
  /* border: none; */
  /* background: transparent; */
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signupForm > button:first-of-type {
  /* background-color: transparent; */
  border-radius: 10px;
  /* color: black; */
  color: #1f1f1f;
  background-color: #805b38;
  color: white;
  border-color: #805b38;

  /* border: 1px solid black; */
}

.signupForm > button:first-of-type:hover {
  background-color: #805b38;
  border-color: #805b38;
  color: white;
  transition: all 1s ease;
}

.signupForm > p {
  color: #1f1f1f;

  /* color: black; */
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.signupContainerChild {
  position: relative;
  max-width: 100%;
  padding-inline: 0;
  /* padding: 1rem; */
}

#signupContainerChild {
  padding-inline: 3rem;
}

.userError {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-15%);
  color: rgb(152, 5, 5);
  font-weight: 900;
  transition: all 1s ease;
}

@media (max-width: 500px) {
  .signupArticle {
    display: block;
    padding-inline: 1rem;
    padding-top: 3rem;
  }

  .signupContainerChild {
    padding-inline: 0;
  }

  .signupForm {
    width: 100%;
  }

  .signupForm > p {
    color: #1f1f1f;

    /* color: black; */
    text-align: center;
  }

  .userError {
    transform: translateX(-20%);
    font-size: 1.05rem;
  }

  #signupContainerChild {
    padding-inline: 1rem;
  }
}

#or {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  color: #1f1f1f;
}

#or::before,
#or::after {
  content: "";
  width: 100px;
  max-width: 100px;
  height: 1px;
  background-color: #1f1f1f;
}
