.signupContainer {
  background: linear-gradient(#60452b, #f5f5dc);
  min-height: 100vh;
  padding-bottom: 3rem;
}

.signupArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 5rem; */
}

.signupContainer > .signupArticle > div {
  font-size: 1rem;
  background: linear-gradient(#805b38, #f0f0f0);
  padding: 0 5rem;
  border-radius: 10%;
  /* box-shadow:
    10px 10px 30px rgb(169, 169, 169) inset,
    -30px 10px 30px rgb(193, 193, 193) inset; */
  /* background-color: aqua; */
}

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* max-width: 1000px; */
  margin: 10vh auto;
  gap: 1rem;
  /* margin-top: 50vh; */
}

.signupForm > label {
  align-self: start;
  color: white;
}
.signupForm > input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.signupForm > input {
  outline: 3px solid white;
}

.signupForm > input:focus {
  outline: 1px solid black;
}

.signupForm > button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
  /* background: radial-gradient(rgb(104, 104, 104), rgb(178, 178, 178), rgb(236, 236, 236)); */
  /* border-radius: 10%; */
  /* border: none; */
  /* background: transparent; */
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signupForm > button:first-of-type {
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
}

.signupForm > button:first-of-type:hover {
  background-color: #805b38;
  border-color: #805b38;
  color: white;
  transition: all 1s ease;
}

.signupForm > p {
  color: white;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

@media (max-width: 500px) {
  .signupArticle {
    padding-inline: 1rem;
  }

  .signupContainerChild {
    padding-inline: 0;
  }

  .signupForm {
    width: 100%;
  }

  .signupForm > p {
    color: white;
    text-align: center;
  }
}
